{% extends 'base.html.twig' %}

{% block title %}Poduct index{% endblock %}

{% block body %}
    <h1>Poduct index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Prix</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for poduct in poducts %}
            <tr>
                <td>{{ poduct.id }}</td>
                <td>{{ poduct.name }}</td>
                <td>{{ poduct.description }}</td>
                <td>{{ poduct.prix }}</td>
                <td>
                    <a href="{{ path('app_poduct_show', {'id': poduct.id}) }}">show</a>
                    <a href="{{ path('app_poduct_edit', {'id': poduct.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_poduct_new') }}">Create new</a>
{% endblock %}
